# App artifacts
/_build
/cover
/db
/deps
/*.ez
*.beam

# Generated on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Vim
.*.sw*

# OS X
.DS_Store

# Docker Postgres mapped volume
/postgres-data

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.zip
