<h2>New Bond</h2>

<%= render "form.html", changeset: @changeset,
                        associations: @associations,
                        action: bond_path(@conn, :create) %>

<span><%= link "Back", to: bond_path(@conn, :index) %></span>
