.row
  .col.s10.offset-s1
    .card-panel.center
      %h2 Instant Surety Bond Quotes
      %h2 from a name you can trust
      %h1.indigo-text.darken-4 Liberty Mutual
.row
  .col.s12
    = link_to "Get Quote", new_bond_path

    =# link_to new_bond_path, class: 'btn-floating btn-large waves-effect waves-light red right', title: 'Get Quote' do
    =#  %i.material-icons add
