!!! 5

%html
  = render 'layouts/html_head'
  %body
    .container
      .row
        .col.s12
          %h3.left
            Liberty Mutual
          %h3.right
            Surety Bonds
      .row
        .col.s12
          %hr
      = yield
